* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}
.container {
  max-width: 100vw;
  display: flex;
}
.left-content {
  height: 100vh;
  width: 75%;
  background-color: #444;
  padding-top: 30px;
}
.right-content {
  width: 25%;
  background-color: #2a2d35;
}
.game-holder {
  width: 100%;
  height: 55%;
  display: flex;
}
.selection-holder {
  background-color: #0e4123;
  height: 45%;
}

.animation-holder {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
}
.top-five {
  height: 50px;
  display: flex;
  padding-bottom: 50px;
  position: relative;
}
.ball {
  width: 50px;
  height: 50px;
}
.ball img {
  width: 50px;
  height: 50px;
}
.animation {
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-image: url(../lucky6Images/loto.gif);
  background-position: center;
  background-size: cover;
  margin-left: 5px;
  filter: invert(1);
}

.speed {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.speed-time {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #535353;
}
.speed-time:hover {
  cursor: pointer;
  background-color: gold;
}

.ball-1 {
  position: absolute;
  bottom: -20px;
  left: 10px;
}

.ball-2 {
  position: absolute;
  bottom: 15px;
  left: 55px;
}

.ball-3 {
  position: absolute;
  bottom: 30px;
  left: 110px;
}

.ball-4 {
  position: absolute;
  bottom: 15px;
  left: 165px;
}

.ball-5 {
  position: absolute;
  bottom: -20px;
  left: 210px;
}
